.modals{display: flex;
    border:solid 0.5px rgb(173, 173, 173);
    justify-content: center;
     height: 0%;    flex-direction: column;
    width: 14vw;
   
    position: absolute;
    left: 85.5vw;
   
background-color: white;
  
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.modals > div {
    display: none;
     
}

.Modal .modals{


    height: 17vh;
    width: 10vw;
    }
    
    .Modal .modals > div{
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 6vh;
        border-radius: 7px;
        flex-direction: row;
        gap: 1rem;
    
       
    }
    
    .Modal .modals > div > span{
    
    color: #4F4F4F;
    
    }
    
    .Modal .modals > div > p{
    
       
    }
    
    .Modal .modals > div:nth-child(2) > span{
    
        color:  #EB5757;
        
        
        }
    
        .Modal .modals > div:nth-child(2) > a > p {
            font-weight: 800;
            color:  #EB5757;
            
            
            }
        
    
    .Modal .modals > div:nth-child(1) {
       
       
        border-bottom: solid 0.5px grey;
        border-radius: 0%;
        
    }
    
    .Modal .modals > div:hover{
    border-radius: 10px;
        background-color: #E0E0E0;
    }




    .modal2{
position: fixed;
width: 100vw;
height: 100vh;
filter:opacity(85%);
       background-color: black;
       display: flex;
       align-items: center;
      justify-content: center;

      display: none;
    }


    .modal2 > div {
        
        filter:none;
    width: 35vw;
    height: 80vh;
        background: white;
    }


    .Modal2 .modal2 {

        display: flex;
    }